USE [master]
GO
/****** Object:  Database [PlivackiKlub]    Script Date: 5/18/2025 2:42:17 AM ******/
CREATE DATABASE [PlivackiKlub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlivackiKlub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PlivackiKlub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlivackiKlub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PlivackiKlub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlivackiKlub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlivackiKlub]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BrojPobjeda]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_BrojPobjeda](@OIB INT)
RETURNS INT
AS
BEGIN
	DECLARE @BrojPobjeda INT
	SELECT @BrojPobjeda = COUNT(*)
			FROM Rezultati R1
			WHERE OIB_Plivaca = @OIB
			AND Vremenski_Rezultat <> 0
			AND NOT EXISTS 
			(SELECT 1 FROM Rezultati R2 WHERE R1.Sifra_Natjecanja = R2.Sifra_Natjecanja AND R2.Vremenski_Rezultat < R1.Vremenski_Rezultat AND R2.Vremenski_Rezultat <> 0)
	RETURN @BrojPobjeda
END
GO
/****** Object:  Table [dbo].[Plivac]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Plivac](
	[OIB] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](20) NOT NULL,
	[Prezime] [varchar](20) NOT NULL,
	[Datum_Rodenja] [date] NOT NULL,
	[Spol] [varchar](1) NOT NULL,
	[Datum_Uclanjenja] [date] NOT NULL,
	[Kategorija] [varchar](20) NULL,
	[Broj_Natjecanja] [int] NULL,
 CONSTRAINT [PK__Plivac__CB394B3FCA927517] PRIMARY KEY CLUSTERED 
(
	[OIB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Trening]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trening](
	[Sifra_Treninga] [int] IDENTITY(1,1) NOT NULL,
	[Datum_Treninga] [date] NOT NULL,
	[Vrijeme_Treninga] [time](7) NOT NULL,
	[OIB_Trenera] [int] NULL,
	[ID_Lokacije] [int] NULL,
 CONSTRAINT [PK__Trening__D03DEC8EB5E04756] PRIMARY KEY CLUSTERED 
(
	[Sifra_Treninga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prisutnost]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prisutnost](
	[Sifra_Treninga] [int] NOT NULL,
	[OIB_Plivaca] [int] NOT NULL,
 CONSTRAINT [PK__Prisutno__49C78B83060373F5] PRIMARY KEY CLUSTERED 
(
	[Sifra_Treninga] ASC,
	[OIB_Plivaca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PrisutnostNaTreninzima]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_PrisutnostNaTreninzima]()
RETURNS TABLE
AS
RETURN (SELECT OIB, 
			   Ime, 
			   Prezime, 
			   COUNT(PR.Sifra_Treninga) AS [Broj Prisustvonanih Treninga],
			   (SELECT COUNT(*) FROM Trening) AS [Ukupan Broj Treninga],
			   ROUND(CAST(COUNT(PR.Sifra_Treninga) AS FLOAT)/(SELECT COUNT(*) FROM Trening),4) AS [Udio prisutnosti]
		FROM Plivac P LEFT JOIN Prisutnost PR
		ON P.OIB = PR.OIB_Plivaca
		GROUP BY OIB, Ime, Prezime
		)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RasponStarosti]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_RasponStarosti](@DatumPocetak DATE, @DatumKraj DATE)
RETURNS TABLE
AS
RETURN (SELECT * FROM Plivac WHERE Datum_Rodenja BETWEEN @DatumPocetak AND @DatumKraj)
GO
/****** Object:  Table [dbo].[Lokacija]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lokacija](
	[ID_Lokacije] [int] IDENTITY(1,1) NOT NULL,
	[Naziv_Lokacije] [varchar](40) NOT NULL,
	[Postanski_Broj] [int] NOT NULL,
 CONSTRAINT [PK__Lokacija__3B0033A804C23B2F] PRIMARY KEY CLUSTERED 
(
	[ID_Lokacije] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Naselje]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Naselje](
	[Postanski_Broj] [int] IDENTITY(1,1) NOT NULL,
	[Naziv_Mjesta] [varchar](40) NOT NULL,
 CONSTRAINT [PK__Naselje__5A905687BE1C5955] PRIMARY KEY CLUSTERED 
(
	[Postanski_Broj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Natjecanje]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Natjecanje](
	[Sifra_Natjecanja] [int] IDENTITY(1,1) NOT NULL,
	[Naziv_Natjecanja] [varchar](30) NOT NULL,
	[Datum_Natjecanja] [date] NOT NULL,
	[ID_Lokacije] [int] NULL,
 CONSTRAINT [PK__Natjecan__C55EEB53F96E7E28] PRIMARY KEY CLUSTERED 
(
	[Sifra_Natjecanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rezultati]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezultati](
	[Sifra_Natjecanja] [int] NOT NULL,
	[OIB_Plivaca] [int] NOT NULL,
	[Vremenski_Rezultat] [float] NOT NULL,
 CONSTRAINT [PK__Rezultat__B3F39E6DEE572789] PRIMARY KEY CLUSTERED 
(
	[OIB_Plivaca] ASC,
	[Sifra_Natjecanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trener]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Trener](
	[OIB] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](20) NOT NULL,
	[Prezime] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Trener__CB394B3F1793D87A] PRIMARY KEY CLUSTERED 
(
	[OIB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Uplata]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Uplata](
	[Sifra_Uplate] [int] IDENTITY(1,1) NOT NULL,
	[OIB_Plivaca] [int] NULL,
	[Iznos_Uplate] [money] NOT NULL,
	[Nacin_Placanja] [varchar](20) NOT NULL,
	[Datum_Uplate] [date] NOT NULL,
 CONSTRAINT [PK__Uplata__7AE5D3E9154351BF] PRIMARY KEY CLUSTERED 
(
	[Sifra_Uplate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Lokacija] ON 

INSERT [dbo].[Lokacija] ([ID_Lokacije], [Naziv_Lokacije], [Postanski_Broj]) VALUES (2, N'Poljud', 2)
INSERT [dbo].[Lokacija] ([ID_Lokacije], [Naziv_Lokacije], [Postanski_Broj]) VALUES (3, N'Zvončac', 2)
INSERT [dbo].[Lokacija] ([ID_Lokacije], [Naziv_Lokacije], [Postanski_Broj]) VALUES (4, N'Višnjik', 3)
SET IDENTITY_INSERT [dbo].[Lokacija] OFF
GO
SET IDENTITY_INSERT [dbo].[Naselje] ON 

INSERT [dbo].[Naselje] ([Postanski_Broj], [Naziv_Mjesta]) VALUES (2, N'Split')
INSERT [dbo].[Naselje] ([Postanski_Broj], [Naziv_Mjesta]) VALUES (3, N'Zadar')
SET IDENTITY_INSERT [dbo].[Naselje] OFF
GO
SET IDENTITY_INSERT [dbo].[Natjecanje] ON 

INSERT [dbo].[Natjecanje] ([Sifra_Natjecanja], [Naziv_Natjecanja], [Datum_Natjecanja], [ID_Lokacije]) VALUES (4, N'Prvenstvo Splita – Juniori', CAST(N'2024-04-15' AS Date), 2)
INSERT [dbo].[Natjecanje] ([Sifra_Natjecanja], [Naziv_Natjecanja], [Datum_Natjecanja], [ID_Lokacije]) VALUES (5, N'Kup Jadrana', CAST(N'2024-06-10' AS Date), 3)
INSERT [dbo].[Natjecanje] ([Sifra_Natjecanja], [Naziv_Natjecanja], [Datum_Natjecanja], [ID_Lokacije]) VALUES (6, N'Plivački Memorijal – Split', CAST(N'2024-09-21' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Natjecanje] OFF
GO
SET IDENTITY_INSERT [dbo].[Plivac] ON 

INSERT [dbo].[Plivac] ([OIB], [Ime], [Prezime], [Datum_Rodenja], [Spol], [Datum_Uclanjenja], [Kategorija], [Broj_Natjecanja]) VALUES (11, N'Ivan', N'Kovač', CAST(N'2005-04-12' AS Date), N'M', CAST(N'2020-06-01' AS Date), N'Mladi Seniori', 4)
INSERT [dbo].[Plivac] ([OIB], [Ime], [Prezime], [Datum_Rodenja], [Spol], [Datum_Uclanjenja], [Kategorija], [Broj_Natjecanja]) VALUES (12, N'Maja', N'Horvat', CAST(N'2007-11-03' AS Date), N'Z', CAST(N'2021-09-15' AS Date), N'Juniori', 3)
INSERT [dbo].[Plivac] ([OIB], [Ime], [Prezime], [Datum_Rodenja], [Spol], [Datum_Uclanjenja], [Kategorija], [Broj_Natjecanja]) VALUES (13, N'Marko', N'Barišić', CAST(N'2008-02-28' AS Date), N'M', CAST(N'2022-01-10' AS Date), N'Juniori', 0)
SET IDENTITY_INSERT [dbo].[Plivac] OFF
GO
INSERT [dbo].[Prisutnost] ([Sifra_Treninga], [OIB_Plivaca]) VALUES (5, 11)
INSERT [dbo].[Prisutnost] ([Sifra_Treninga], [OIB_Plivaca]) VALUES (5, 12)
INSERT [dbo].[Prisutnost] ([Sifra_Treninga], [OIB_Plivaca]) VALUES (5, 13)
GO
INSERT [dbo].[Rezultati] ([Sifra_Natjecanja], [OIB_Plivaca], [Vremenski_Rezultat]) VALUES (4, 11, 54.321)
INSERT [dbo].[Rezultati] ([Sifra_Natjecanja], [OIB_Plivaca], [Vremenski_Rezultat]) VALUES (5, 11, 55.9876)
INSERT [dbo].[Rezultati] ([Sifra_Natjecanja], [OIB_Plivaca], [Vremenski_Rezultat]) VALUES (6, 11, 53.6543)
GO
SET IDENTITY_INSERT [dbo].[Trener] ON 

INSERT [dbo].[Trener] ([OIB], [Ime], [Prezime]) VALUES (2, N'Dario', N'Matić')
INSERT [dbo].[Trener] ([OIB], [Ime], [Prezime]) VALUES (3, N'Ivana', N'Blažević')
INSERT [dbo].[Trener] ([OIB], [Ime], [Prezime]) VALUES (4, N'Tomislav', N'Radić')
SET IDENTITY_INSERT [dbo].[Trener] OFF
GO
SET IDENTITY_INSERT [dbo].[Trening] ON 

INSERT [dbo].[Trening] ([Sifra_Treninga], [Datum_Treninga], [Vrijeme_Treninga], [OIB_Trenera], [ID_Lokacije]) VALUES (5, CAST(N'2024-12-01' AS Date), CAST(N'08:00:00' AS Time), 2, 2)
INSERT [dbo].[Trening] ([Sifra_Treninga], [Datum_Treninga], [Vrijeme_Treninga], [OIB_Trenera], [ID_Lokacije]) VALUES (6, CAST(N'2024-12-03' AS Date), CAST(N'09:30:00' AS Time), 3, 3)
INSERT [dbo].[Trening] ([Sifra_Treninga], [Datum_Treninga], [Vrijeme_Treninga], [OIB_Trenera], [ID_Lokacije]) VALUES (7, CAST(N'2024-12-05' AS Date), CAST(N'17:00:00' AS Time), 4, 2)
SET IDENTITY_INSERT [dbo].[Trening] OFF
GO
SET IDENTITY_INSERT [dbo].[Uplata] ON 

INSERT [dbo].[Uplata] ([Sifra_Uplate], [OIB_Plivaca], [Iznos_Uplate], [Nacin_Placanja], [Datum_Uplate]) VALUES (1, 11, 120.5000, N'Gotovina', CAST(N'2025-05-01' AS Date))
INSERT [dbo].[Uplata] ([Sifra_Uplate], [OIB_Plivaca], [Iznos_Uplate], [Nacin_Placanja], [Datum_Uplate]) VALUES (2, 11, 230.0000, N'Kartica', CAST(N'2025-05-05' AS Date))
INSERT [dbo].[Uplata] ([Sifra_Uplate], [OIB_Plivaca], [Iznos_Uplate], [Nacin_Placanja], [Datum_Uplate]) VALUES (3, 11, 180.7500, N'Uplatnica', CAST(N'2025-05-10' AS Date))
SET IDENTITY_INSERT [dbo].[Uplata] OFF
GO
ALTER TABLE [dbo].[Plivac] ADD  CONSTRAINT [DF__Plivac__Broj_Nat__440B1D61]  DEFAULT ((0)) FOR [Broj_Natjecanja]
GO
ALTER TABLE [dbo].[Rezultati] ADD  CONSTRAINT [DF__Rezultati__Vreme__5629CD9C]  DEFAULT ((0)) FOR [Vremenski_Rezultat]
GO
ALTER TABLE [dbo].[Lokacija]  WITH NOCHECK ADD  CONSTRAINT [FK__Lokacija__Postan__4AB81AF0] FOREIGN KEY([Postanski_Broj])
REFERENCES [dbo].[Naselje] ([Postanski_Broj])
GO
ALTER TABLE [dbo].[Lokacija] NOCHECK CONSTRAINT [FK__Lokacija__Postan__4AB81AF0]
GO
ALTER TABLE [dbo].[Natjecanje]  WITH NOCHECK ADD  CONSTRAINT [FK__Natjecanj__ID_Lo__5165187F] FOREIGN KEY([ID_Lokacije])
REFERENCES [dbo].[Lokacija] ([ID_Lokacije])
GO
ALTER TABLE [dbo].[Natjecanje] NOCHECK CONSTRAINT [FK__Natjecanj__ID_Lo__5165187F]
GO
ALTER TABLE [dbo].[Prisutnost]  WITH NOCHECK ADD  CONSTRAINT [FK__Prisutnos__OIB_P__5DCAEF64] FOREIGN KEY([OIB_Plivaca])
REFERENCES [dbo].[Plivac] ([OIB])
GO
ALTER TABLE [dbo].[Prisutnost] NOCHECK CONSTRAINT [FK__Prisutnos__OIB_P__5DCAEF64]
GO
ALTER TABLE [dbo].[Prisutnost]  WITH NOCHECK ADD  CONSTRAINT [FK__Prisutnos__Sifra__5CD6CB2B] FOREIGN KEY([Sifra_Treninga])
REFERENCES [dbo].[Trening] ([Sifra_Treninga])
GO
ALTER TABLE [dbo].[Prisutnost] NOCHECK CONSTRAINT [FK__Prisutnos__Sifra__5CD6CB2B]
GO
ALTER TABLE [dbo].[Rezultati]  WITH NOCHECK ADD  CONSTRAINT [FK__Rezultati__OIB_P__5535A963] FOREIGN KEY([OIB_Plivaca])
REFERENCES [dbo].[Plivac] ([OIB])
GO
ALTER TABLE [dbo].[Rezultati] NOCHECK CONSTRAINT [FK__Rezultati__OIB_P__5535A963]
GO
ALTER TABLE [dbo].[Rezultati]  WITH NOCHECK ADD  CONSTRAINT [FK__Rezultati__Sifra__5441852A] FOREIGN KEY([Sifra_Natjecanja])
REFERENCES [dbo].[Natjecanje] ([Sifra_Natjecanja])
GO
ALTER TABLE [dbo].[Rezultati] NOCHECK CONSTRAINT [FK__Rezultati__Sifra__5441852A]
GO
ALTER TABLE [dbo].[Trening]  WITH NOCHECK ADD  CONSTRAINT [FK__Trening__ID_Loka__4E88ABD4] FOREIGN KEY([ID_Lokacije])
REFERENCES [dbo].[Lokacija] ([ID_Lokacije])
GO
ALTER TABLE [dbo].[Trening] NOCHECK CONSTRAINT [FK__Trening__ID_Loka__4E88ABD4]
GO
ALTER TABLE [dbo].[Trening]  WITH NOCHECK ADD  CONSTRAINT [FK__Trening__OIB_Tre__4D94879B] FOREIGN KEY([OIB_Trenera])
REFERENCES [dbo].[Trener] ([OIB])
GO
ALTER TABLE [dbo].[Trening] NOCHECK CONSTRAINT [FK__Trening__OIB_Tre__4D94879B]
GO
ALTER TABLE [dbo].[Uplata]  WITH NOCHECK ADD  CONSTRAINT [FK__Uplata__OIB_Pliv__59063A47] FOREIGN KEY([OIB_Plivaca])
REFERENCES [dbo].[Plivac] ([OIB])
GO
ALTER TABLE [dbo].[Uplata] NOCHECK CONSTRAINT [FK__Uplata__OIB_Pliv__59063A47]
GO
ALTER TABLE [dbo].[Plivac]  WITH NOCHECK ADD  CONSTRAINT [opt_Kategorija] CHECK  (([Kategorija]='Seniori' OR [Kategorija]='Mladi Seniori' OR [Kategorija]='Juniori' OR [Kategorija]='Mladi Juniori' OR [Kategorija]='Kadeti' OR [Kategorija]='Mladi Kadeti' OR [Kategorija]='Pocetnici'))
GO
ALTER TABLE [dbo].[Plivac] NOCHECK CONSTRAINT [opt_Kategorija]
GO
ALTER TABLE [dbo].[Plivac]  WITH NOCHECK ADD  CONSTRAINT [opt_Spol] CHECK  (([Spol]='Z' OR [Spol]='M'))
GO
ALTER TABLE [dbo].[Plivac] NOCHECK CONSTRAINT [opt_Spol]
GO
ALTER TABLE [dbo].[Uplata]  WITH NOCHECK ADD  CONSTRAINT [opt_NacinPlacanja] CHECK  (([Nacin_Placanja]='Uplatnica' OR [Nacin_Placanja]='Gotovina' OR [Nacin_Placanja]='Kartica'))
GO
ALTER TABLE [dbo].[Uplata] NOCHECK CONSTRAINT [opt_NacinPlacanja]
GO
/****** Object:  StoredProcedure [dbo].[sp_BrisiSveIzSvihTablica]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BrisiSveIzSvihTablica]
AS
BEGIN
	SET IMPLICIT_TRANSACTIONS OFF;
	DELETE FROM Prisutnost
	DELETE FROM Rezultati
	DELETE FROM Natjecanje
	DELETE FROM Trening
	DELETE FROM Lokacija
	DELETE FROM Naselje
	DELETE FROM Uplata
	DELETE FROM Plivac
	DELETE FROM Trener
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DodajPlivaca]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DodajPlivaca] @Ime VARCHAR(20), @Prezime VARCHAR(20), @Datum_Rodenja DATE, @Datum_Uclanjenja DATE, @Spol VARCHAR(1)
AS
BEGIN
	SET IMPLICIT_TRANSACTIONS OFF
	BEGIN TRANSACTION
		INSERT INTO Plivac
		(Ime, Prezime, Datum_Rodenja, Datum_Uclanjenja, Spol)
		VALUES
		(@Ime,@Prezime,@Datum_Rodenja,@Datum_Uclanjenja,'M')
	SAVE TRANSACTION BezSpola
		BEGIN TRY
			UPDATE Plivac
			SET Spol = @Spol
			WHERE OIB = (SELECT TOP 1 OIB FROM Plivac ORDER BY OIB DESC)
			COMMIT TRANSACTION
		END TRY
		BEGIN CATCH
			PRINT 'Greska pri unosenju spola, izaberite valjanu opciju (M/Z).'
			ROLLBACK TRANSACTION BezSpola
		END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_IzbrisiPlivaca]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IzbrisiPlivaca] @OIB INT
AS
BEGIN
	SET IMPLICIT_TRANSACTIONS OFF
	BEGIN TRANSACTION
		DELETE FROM Rezultati
		WHERE OIB_Plivaca = @OIB
		DELETE FROM Prisutnost
		WHERE OIB_Plivaca = @OIB
		UPDATE Uplata
		SET OIB_Plivaca = NULL
		WHERE OIB_Plivaca = @OIB
		BEGIN TRY
			DELETE FROM Plivac
			WHERE OIB = @OIB
		COMMIT TRANSACTION
		END TRY
		BEGIN CATCH
			PRINT 'Greska pri brisanju plivaca.'
			ROLLBACK TRANSACTION
		END CATCH
END
GO
/****** Object:  Trigger [dbo].[trg_OdrediKategorijuInit]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_OdrediKategorijuInit]
ON [dbo].[Plivac]
AFTER INSERT
AS
BEGIN
	WITH CTE AS (SELECT DATEDIFF(YEAR,P.Datum_Rodenja,GETDATE()) AS Dob, P.OIB FROM Plivac P JOIN inserted I on P.OIB = I.OIB)
	UPDATE Plivac
	SET Kategorija = CASE
		WHEN CTE.Dob BETWEEN 0 AND 10 THEN 'Pocetnici'
		WHEN CTE.Dob BETWEEN 11 AND 12 THEN 'Mladi Kadeti'
		WHEN CTE.Dob BETWEEN 13 AND 14 THEN 'Kadeti'
		WHEN CTE.Dob BETWEEN 15 AND 16 THEN 'Mladi Juniori'
		WHEN CTE.Dob BETWEEN 17 AND 18 THEN 'Juniori'
		WHEN CTE.Dob BETWEEN 19 AND 20 THEN 'Mladi Seniori'
		ELSE 'Seniori'
	END
	FROM Plivac P JOIN CTE 
	ON P.OIB = CTE.OIB
END
GO
ALTER TABLE [dbo].[Plivac] ENABLE TRIGGER [trg_OdrediKategorijuInit]
GO
/****** Object:  Trigger [dbo].[trg_OdrediKategorijuUpdate]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_OdrediKategorijuUpdate]
ON [dbo].[Plivac]
AFTER UPDATE
AS
BEGIN
	WITH CTE AS (SELECT DATEDIFF(YEAR,P.Datum_Rodenja,GETDATE()) AS Dob, P.OIB FROM Plivac P JOIN inserted I on P.OIB = I.OIB)
	UPDATE Plivac
	SET Kategorija = CASE
		WHEN CTE.Dob BETWEEN 0 AND 10 THEN 'Pocetnici'
		WHEN CTE.Dob BETWEEN 11 AND 12 THEN 'Mladi Kadeti'
		WHEN CTE.Dob BETWEEN 13 AND 14 THEN 'Kadeti'
		WHEN CTE.Dob BETWEEN 15 AND 16 THEN 'Mladi Juniori'
		WHEN CTE.Dob BETWEEN 17 AND 18 THEN 'Juniori'
		WHEN CTE.Dob BETWEEN 19 AND 20 THEN 'Mladi Seniori'
		ELSE 'Seniori'
	END
	FROM Plivac P JOIN CTE 
	ON P.OIB = CTE.OIB
END
GO
ALTER TABLE [dbo].[Plivac] ENABLE TRIGGER [trg_OdrediKategorijuUpdate]
GO
/****** Object:  Trigger [dbo].[trg_ClanNatjecanja]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_ClanNatjecanja]
ON [dbo].[Rezultati]
AFTER INSERT
AS
BEGIN
	UPDATE Plivac
	SET Broj_Natjecanja = Broj_Natjecanja + ( SELECT COUNT(*)
											  FROM inserted
											  WHERE Plivac.OIB = inserted.OIB_Plivaca
	)
	WHERE OIB IN (SELECT DISTINCT OIB_Plivaca FROM	inserted)
END
GO
ALTER TABLE [dbo].[Rezultati] ENABLE TRIGGER [trg_ClanNatjecanja]
GO
/****** Object:  Trigger [dbo].[trg_ClanNatjecanjaMaknut]    Script Date: 5/18/2025 2:42:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_ClanNatjecanjaMaknut]
ON [dbo].[Rezultati]
AFTER DELETE
AS
BEGIN
	UPDATE Plivac
	SET Broj_Natjecanja = Broj_Natjecanja - ( SELECT COUNT(*)
											  FROM deleted
											  WHERE Plivac.OIB = deleted.OIB_Plivaca
	)
	WHERE OIB IN (SELECT DISTINCT OIB_Plivaca FROM	deleted)
END
GO
ALTER TABLE [dbo].[Rezultati] ENABLE TRIGGER [trg_ClanNatjecanjaMaknut]
GO
/****** Object:  Statistic [_WA_Sys_00000002_48CFD27E]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_48CFD27E] ON [dbo].[Lokacija]([Naziv_Lokacije]) WITH STATS_STREAM = 0x0100000001000000000000000000000021486223000000002302000000000000E301000000000000A7030000A7000000280000000000000016D000000000000007000000CA673B01DFB2000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0400000803F000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000025000000000000005F0000000000000067000000000000006F000000000000000800000000000000300010000000803F000000000000803F04000001001D004A616472616EFF0100000000000000010000000100000028000000280000000000000000000000060000004A616472616E02000000400000000001060000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000003_48CFD27E]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_48CFD27E] ON [dbo].[Lokacija]([Postanski_Broj]) WITH STATS_STREAM = 0x0100000001000000000000000000000058156E8100000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000000000007000000CA673B01DFB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__Lokacija__3B0033A804C23B2F]    Script Date: 5/18/2025 2:42:18 AM ******/
UPDATE STATISTICS [dbo].[Lokacija]([PK__Lokacija__3B0033A804C23B2F]) WITH STATS_STREAM = 0x010000000100000000000000000000004F17D9B400000000DB010000000000009B01000000000000380300003800000004000A000000000000000000000000000700000038783B01DFB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,ROWCOUNT = 3,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_46E78A0C]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_46E78A0C] ON [dbo].[Naselje]([Naziv_Mjesta]) WITH STATS_STREAM = 0x010000000100000000000000000000009C8B1FF3000000002102000000000000E101000000000000A7030000A7000000280000000000000016D000000000000007000000AA4D3B01DFB2000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A0400000803F000000000000A04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000024000000000000005D0000000000000065000000000000006D000000000000000800000000000000300010000000803F000000000000803F04000001001C0053706C6974FF01000000000000000100000001000000280000002800000000000000000000000500000053706C697402000000400000000001050000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__Naselje__5A905687BE1C5955]    Script Date: 5/18/2025 2:42:18 AM ******/
UPDATE STATISTICS [dbo].[Naselje]([PK__Naselje__5A905687BE1C5955]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 2,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [PK__Natjecan__C55EEB53F96E7E28]    Script Date: 5/18/2025 2:42:18 AM ******/
UPDATE STATISTICS [dbo].[Natjecanje]([PK__Natjecan__C55EEB53F96E7E28]) WITH STATS_STREAM = 0x010000000100000000000000000000002AF79F5700000000FA01000000000000BA01000000000000380300003800000004000A000000000000000000000000000700000028B93B01DFB2000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F02000000040000100014000000803F000000000000803F0300000004000002000000000000000000000000000000,ROWCOUNT = 4,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000004_403A8C7D]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000004_403A8C7D] ON [dbo].[Plivac]([Datum_Rodenja]) WITH STATS_STREAM = 0x010000000100000000000000000000007DCD45F600000000DA010000000000009A01000000000000280300002800000003000A0000000000000000000000000007000000F24F5601DFB2000008000000000000000800000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000013000000000040400000004100000000000040400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001E0000000000000026000000000000002E0000000000000008000000000000001000130000000041000000000000803FB3470B04000008000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__Plivac__CB394B3FCA927517]    Script Date: 5/18/2025 2:42:18 AM ******/
UPDATE STATISTICS [dbo].[Plivac]([PK__Plivac__CB394B3FCA927517]) WITH STATS_STREAM = 0x010000000100000000000000000000004653286100000000DB010000000000009B01000000000000380300003800000004000A0000000000000000000000000007000000DB8D3001DFB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,ROWCOUNT = 11,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_5AEE82B9]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_5AEE82B9] ON [dbo].[Prisutnost]([OIB_Plivaca]) WITH STATS_STREAM = 0x0100000001000000000000000000000005DBBCE500000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000000000070000002BE74001DFB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0200000004000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__Prisutno__49C78B83060373F5]    Script Date: 5/18/2025 2:42:18 AM ******/
UPDATE STATISTICS [dbo].[Prisutnost]([PK__Prisutno__49C78B83060373F5]) WITH STATS_STREAM = 0x010000000200000000000000000000004A44150D00000000F3010000000000009B01000000000000380300003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000070000002AE74001DFB2000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000014000000000000410000803F00000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0200000004000001000000000000000000000000000000,ROWCOUNT = 28,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000001_52593CB8]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000001_52593CB8] ON [dbo].[Rezultati]([Sifra_Natjecanja]) WITH STATS_STREAM = 0x01000000010000000000000000000000C129BA0500000000FA01000000000000BA01000000000000380300003800000004000A00000000000000000000000000070000004C0F3D01DFB2000006000000000000000600000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000C04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E00000000000000100000000000000027000000000000001000140000004040000000000000803F020000000400001000140000004040000000000000803F0300000004000006000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000003_52593CB8]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_52593CB8] ON [dbo].[Rezultati]([Vremenski_Rezultat]) WITH STATS_STREAM = 0x010000000100000000000000000000005D6EA14F00000000480200000000000008020000000000003E0300003E00000008003500000000000000000000000000070000004D0F3D01DFB20000060000000000000006000000000000000000803FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000018000000000000410000C04000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000008C0000000000000094000000000000009C0000000000000020000000000000003B0000000000000056000000000000007100000000000000100018000000803F000000000000803F7B14AE47E11A4B40040000100018000000803F000000000000803F295C8FC2F5A84B40040000100018000000803F000000400000803F1F85EB51B8FE4D40040000100018000000803F000000000000803F3333333333134E4004000006000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__Rezultat__B3F39E6DEE572789]    Script Date: 5/18/2025 2:42:18 AM ******/
UPDATE STATISTICS [dbo].[Rezultati]([PK__Rezultat__B3F39E6DEE572789]) WITH STATS_STREAM = 0x01000000020000000000000000000000D07764F2000000005002000000000000F801000000000000380300003800000004000A00000000000000000000000000380300003800000004000A000000000000000000A6010000070000004D0F3D01DFB20000060000000000000006000000000000000000803FCDCC4C3EABAA2A3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000200000014000000000000410000C04000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000007C0000000000000084000000000000008C00000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F030000000400001000140000000040000000000000803F04000000040000100014000000803F000000000000803F0500000004000006000000000000000000000000000000,ROWCOUNT = 20,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_44FF419A]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_44FF419A] ON [dbo].[Trener]([Ime]) WITH STATS_STREAM = 0x01000000010000000000000000000000F603B115000000001F02000000000000DF01000000000000A7030000A7000000140000000000000016D00000000000000700000068664001DFB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080400000803F000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000023000000000000005B0000000000000063000000000000006B000000000000000800000000000000300010000000803F000000000000803F04000001001B004C656F6EFF0100000000000000010000000100000028000000280000000000000000000000040000004C656F6E02000000400000000001040000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000003_44FF419A]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_44FF419A] ON [dbo].[Trener]([Prezime]) WITH STATS_STREAM = 0x0100000001000000000000000000000017499BBD000000002102000000000000E101000000000000A7030000A7000000140000000000000016D00000000000000700000068664001DFB2000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A0400000803F000000000000A04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000024000000000000005D0000000000000065000000000000006D000000000000000800000000000000300010000000803F000000000000803F04000001001C008A65726B61FF0100000000000000010000000100000028000000280000000000000000000000050000008A65726B6102000000400000000001050000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__Trener__CB394B3F1793D87A]    Script Date: 5/18/2025 2:42:18 AM ******/
UPDATE STATISTICS [dbo].[Trener]([PK__Trener__CB394B3F1793D87A]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 3,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_4BAC3F29]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_4BAC3F29] ON [dbo].[Trening]([Datum_Treninga]) WITH STATS_STREAM = 0x01000000010000000000000000000000F14A5C4100000000DA010000000000009A01000000000000280300002800000003000A0000000000000000000000000007000000D56D4001DFB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000013000000000040400000803F00000000000040400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001E0000000000000026000000000000002E000000000000000800000000000000100013000000803F000000000000803FB3470B04000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000003_4BAC3F29]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_4BAC3F29] ON [dbo].[Trening]([Vrijeme_Treninga]) WITH STATS_STREAM = 0x0100000001000000000000000000000020B7253600000000DC010000000000009C0100000000000029030000290000000500100700000000000000000000000007000000D46D4001DFB2000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000150000000000A0400000803F000000000000A0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000002000000000000000280000000000000030000000000000000800000000000000100015000000803F000000000000803F00C6C37C6204000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000004_4BAC3F29]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000004_4BAC3F29] ON [dbo].[Trening]([OIB_Trenera]) WITH STATS_STREAM = 0x0100000001000000000000000000000004FACC4900000000DB010000000000009B01000000000000380200003800000004000A0000000000000000000000000007000000D46D4001DFB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000005_4BAC3F29]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000005_4BAC3F29] ON [dbo].[Trening]([ID_Lokacije]) WITH STATS_STREAM = 0x0100000001000000000000000000000004FACC4900000000DB010000000000009B01000000000000380200003800000004000A0000000000000000000000000007000000D46D4001DFB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__Trening__D03DEC8EB5E04756]    Script Date: 5/18/2025 2:42:18 AM ******/
UPDATE STATISTICS [dbo].[Trening]([PK__Trening__D03DEC8EB5E04756]) WITH STATS_STREAM = 0x0100000001000000000000000000000060FE7C0C00000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000000000000007000000C77E4001DFB2000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F02000000040000100014000000803F000000000000803F0300000004000002000000000000000000000000000000,ROWCOUNT = 10,PAGECOUNT = 1,AUTO_DROP = OFF
GO
/****** Object:  Statistic [_WA_Sys_00000002_571DF1D5]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000002_571DF1D5] ON [dbo].[Uplata]([OIB_Plivaca]) WITH STATS_STREAM = 0x010000000100000000000000000000007C72DF2300000000DB010000000000009B01000000000000380200003800000004000A00000000000000000000000000070000002B7E6401DFB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0500000004000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000003_571DF1D5]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000003_571DF1D5] ON [dbo].[Uplata]([Iznos_Uplate]) WITH STATS_STREAM = 0x010000000100000000000000000000002F3FEC8E00000000DF010000000000009F010000000000003C0300003C00000008001304000000000000000000000000070000002B7E6401DFB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000803F000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001104000000000000000000000000000023000000000000002B0000000000000033000000000000000800000000000000100018000000803F000000000000803FC0BF43000000000004000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [_WA_Sys_00000004_571DF1D5]    Script Date: 5/18/2025 2:42:18 AM ******/
CREATE STATISTICS [_WA_Sys_00000004_571DF1D5] ON [dbo].[Uplata]([Nacin_Placanja]) WITH STATS_STREAM = 0x010000000100000000000000000000001983A899000000002502000000000000E501000000000000A7030000A7000000140000000000000016D0000000000000070000002B7E6401DFB2000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000E0400000803F000000000000E04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000026000000000000006100000000000000690000000000000071000000000000000800000000000000300010000000803F000000000000803F04000001001E004B617274696361FF0100000000000000010000000100000028000000280000000000000000000000070000004B61727469636102000000400000000001070000000001000000000000000000000000000000,AUTO_DROP = ON
GO
/****** Object:  Statistic [PK__Uplata__7AE5D3E9154351BF]    Script Date: 5/18/2025 2:42:18 AM ******/
UPDATE STATISTICS [dbo].[Uplata]([PK__Uplata__7AE5D3E9154351BF]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 30,PAGECOUNT = 1,AUTO_DROP = OFF
GO
USE [master]
GO
